* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, 'Courier New', Courier, monospace;
}

.page__todoapp {
  position: relative;
  margin: 20px auto;  
  width: 600px;
  animation: show 1.5s linear;
}

.page__title {
  font-size: 90px;
  font-weight: 400;
  text-align: center;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border: 1px solid rgb(112, 111, 111);
  border-radius: 5px;
}

.container--footer {
  position: relative;
  height: fit-content;
  visibility: hidden;
}

.new-todo {
  padding: 10px 0 10px 70px;
  font-size: 30px;
  width: 80%;
  border: 0;
  outline: none;
}

.checkbox {
  width: 30px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(112, 111, 111);
}

.todo-label {
  padding: 8px 0 0 10px;
  font-size: 30px;
  color: rgb(112, 111, 111);
}

.delete-button {
  position: absolute;
  visibility: hidden;
  right: 5px;
  transition: background-color 0.5s;
} 

.filter-button {
  cursor: pointer;
  visibility: hidden;
  transition: background-color 0.5s;
}

.filter-button:disabled {
  cursor: inherit;
} 

.text {
  display: inline-block;
  padding: 5px 15px 5px 0px;
  font-size: 24px;
  font-weight: bold;
}

@keyframes show {
  0% {
    top: -1000px;
  }

  50% {
    top: 150px; 
  }

  100% {
    top: 20px; 
  }
}
